<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd	
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd	
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/jms
		http://www.springframework.org/schema/jms/spring-jms.xsd		
">

	<context:component-scan base-package="fr.formation.banque.jms" />

	<!-- CONFIGURATION COMMUNE EMETTEUR / RECEPTEUR -->
	<!-- 1. Connexion au JMS Server -->
	<bean id="jmsConnectionFactory"
		  class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616?wireFormat.maxInactivityDuration=0" />
	</bean>

	<!-- 2. Localisation de la destination JMS -->
	<bean id="destination"
		  class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="banqueQueue" />
	</bean>

	<!-- CONFIGURATION POUR L'EMETTEUR -->
	<!-- 3. Définition du JmsTemplate -->
	<bean id="jmsTemplate"
		  class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="defaultDestination" ref="destination" />	  
	</bean>
	
	<!-- CONFIGURATION POUR LE RECEPTEUR -->
	<!-- 4. Installation d'un ecouteur de message sur la destination 'banqueQueue' -->
	<jms:listener-container container-type="default"
		 					acknowledge="auto"
		 					connection-factory="jmsConnectionFactory">
		<!-- On ajoute un écouteur sur 'banqueQueue' pour appeler la méthode
			 'onMessage' du 'ConsommateurMessageVirement' -->
		<jms:listener destination="banqueQueue" 
					  ref="consommateurMessageVirement"
					  method="onMessage" />	 		  	 					
	</jms:listener-container>

</beans>
















